.empty div {
    width: 300px;
    height: 60px;
    text-align: center;
    margin: 10px auto;
    background-color: #eee;
    padding: 10px;
    line-height: 60px;
}

:empty {
    background-color: red !important;
}

.before {
    background-color: rgb(212 212 212);
    margin: auto;
    width: 300px;
    padding: 10px 20px;
    position: relative;
}

.before::first-letter {
    visibility: hidden;
}

.before::before {
    content: "1";
    position: absolute;
    top: 12.5%;
    left: -10px;
    background-color: red;
    height: 30px;
    width: 20px;
    color: white;
    text-align: center;
    line-height: 30px;
}

.befor-after0 p {
    background-color: rgb(212 212 212);
    width: 320px;
    padding: 10px 20px;
    position: relative;
    margin: 5px auto;
    border-left: purple solid 2px;
}

.befor-after0 p::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: -20px;
    top: 10px;
    border-top: transparent solid 10px;
    border-left: transparent solid 10px;
    border-right: purple solid 10px;
    border-bottom: transparent solid 10px;
}

.befor-after0 p::after {
    content: attr(data-person);
    position: absolute;
    background: #d4d4d4;
    left: -75px;
    bottom: 12.5%;
    padding: 4px;
    width: 45px;

}

.befor-after p {
    background-color: rgb(212 212 212);
    width: 320px;
    padding: 10px 20px;
    position: relative;
    margin: 5px auto;
    counter-increment: counterrr;
}

.befor-after p::before {
    content: counter(counterrr);
    position: absolute;
    background-color: rgb(244 67 54);
    width: 20px;
    height: 38.5px;
    top: 0;
    left: -20px;
    text-align: center;
    line-height: 38.5px;
    color: white;
}

.befor-after p::after {
    content: "";
    position: absolute;
    right: -3px;
    top: 0;
    width: 3px;
    background-color: rgb(244 67 54);
    height: 38.5px;
}

.Element,
.Element1 {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: rgb(238 238 238);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    border: solid black 1px;
    box-shadow: -2px -2px 0 1px rgb(233 30 99), 2px 2px 0 1px rgb(33 150 243);
    counter-increment: countttt;
    position: relative;

}

.Element1 {
    margin-left: 100px;
}

.Element::before,
.Element1::before {
    content: counter(countttt);
    position: absolute;
    top: -10px;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;


}

.radious {
    background-color: rgb(239 239 239);
    border-radius: 5px 20px;
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 5px 3px black inset;
    margin: auto;
    border-top-left-radius: 5px 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 5px 15px;
    border-bottom-left-radius: 40px;


}

.parent {
    width: 550px;
    margin: auto;
    background-color: #ffffff;
    height: auto;
    overflow: hidden;

}

.parent .child {
    width: 35%;
    height: auto;
    background-color: #eee;
    margin: 20px;
    position: relative;
    float: left;

    margin-left: 35px;

}

.child .son1 {
    text-align: center;
    width: 175px;
    height: 25px;
    line-height: 25px;
    background-color: #03a9f4;
    border-radius: 5px;

}

.child .son2 {
    width: 170px;
    text-align: center;
    line-height: 175px;
    background-color: #dddddd;
    height: 170px;
    border-radius: calc(170px / 2);
}

.parent .child2 {
    width: 35%;
    height: auto;
    background-color: #eee;
    margin: 20px;
    float: left;
    margin-left: 40px;
    position: relative;
}

.parent .child::after {
    content: "or";
    position: absolute;
    top: calc(285px / 2);
    right: -40px;
    background-color: #03a9f4;
    height: 20px;
    line-height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 10px;
    color: white;
    z-index: 2;
}

.parent .child2::before {
    content: "";
    width: .05%;
    height: 285px;
    background-color: #03a9f4;
    left: -30px;
    position: absolute;
}

.child2 .son1 {
    text-align: center;
    width: 175px;
    height: 25px;
    line-height: 25px;
    background-color: #03a9f4;
    border-radius: 5px;

}

.child2 .son2 {
    width: 170px;
    text-align: center;
    line-height: 175px;
    background-color: #dddddd;
    height: 170px;
    border-radius: calc(170px / 2);
}

.clear {
    clear: both;
}

.delay {
    padding: 20px;
    padding-bottom: 10px;
    width: 50%;
    margin: 0px auto;
    background-color: #f2f2f4;
    text-align: center;
    height: 200px;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-duration: 500ms;
}

.delay2 {
    width: 80%;
    background-color: #dededc;
    transition-duration: 500ms;
    transition-delay: 500ms;
    margin: 0px auto;

    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.delay:hover {
    margin: 0px auto 40px auto;


}

.delay:hover .delay2 {

    margin: 40px auto 0px;
}

/* هون يعني لما الديليه تعمله هوفر الديلي تو بصير عليها التأثير */

.hover {
    position: relative;

}

.hover:hover {
    background-color: #eee !important;
    color: transparent !important;
    /*طريقة اولى عشان نخفي الكلام */
    text-indent: -99999px;
    /*طريقة ثانية عشان نخفي الكلام */
    border: none !important;
    width: 400px;

}

.hover:hover::after {
    content: "ELZERO";
    color: rgb(41, 28, 138);
    position: absolute;
    top: 50%;
    right: 48%;
    font-size: 20px;
    text-align: start;
    text-indent: 0px;

}

/* :root {
    --mainColor: #009688;
    --mainPadding: 10px;
} */

.Element2 {
    color: var(--mainColor, red);
    background-color: white;
    border: var(--mainColor, black) solid 3px;
    padding: var(--mainPadding, 3px);
    margin: 5px;
    width: 50%;
}


.Elzero2 {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #eee;
    color: #ff5722;
    margin: auto;
    box-shadow: 7px 0px 0 0 #ff5722, -7px 0px 0 0 #03a9f4;

}

.parent1-flex {
    width: 600px;
    height: 300px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    background-color: #eee;
    justify-content: space-between;
    align-content: space-between;
    padding: 10px;
}

.parent1-flex .parent1-flex1 {
    background-color: #ff5722;
    color: white;
    width: 32%;
    height: 2rem;
    text-align: center;
    line-height: 32px;
}

.parent-num {
    display: flex;
    height: 300px;
    width: 600px;
    background-color: #eee;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    margin: auto;
}

.one,
.two,
.three,
.four,
.five,
.six {
    background-color: rgb(96 125 139);
    width: 32%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one {
    height: 12.5%;
    order: 1;
}

.two {
    order: 2;
}

.four {
    order: 4;
}

.six {
    order: 6;
}

.five {
    order: 3;
}

.three {
    order: 5;
    height: 12.5%;
    align-self: flex-end;

}

.parent-num2 {
    display: flex;
    height: 300px;
    width: 600px;
    background-color: #eee;
    padding: 5px;
    flex-direction: column;
    margin: auto;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
}

.one2,
.two2,
.three2 {
    background-color: #009688;
    height: 28%;
    width: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.two2 {
    align-self: flex-start;
    width: 50%;
}

.parent-num3 {
    display: flex;
    height: 300px;
    width: 600px;
    background-color: #eee;
    padding: 5px;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    padding: 10px;
}

.one3,
.two3,
.three3,
.four3 {
    background-color: #8bc34a;
    height: 50%;
    width: 15%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.four3 {
    order: -1;
    background-color: #673ab7;

}

.two3,
.four3 {
    align-self: flex-end;
}

.one3 {
    background-color: #ff9800;
}

.three3 {
    background-color: #795548;
}

:root {
    --childs: rgb(221 221 221);
}

.page {

    background-color: #eeeeee;
    margin: auto;
    padding: 10px;
    font-size: smaller;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #eeeeee;


}

.logo {
    background-color: var(--childs);
    width: 60px;
    margin-right: 12px;

    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header ul {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0px;
    flex-grow: 1;
    height: 2rem;
    background-color: var(--childs);
    list-style-type: none;
}

.links li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
}

.main-area {
    display: flex;
    background-color: #eeeeee;
    justify-content: space-between;
}

.content,
.sidebar {
    background-color: var(--childs);
    width: 28%;
    padding: 5px;
    height: 200px;
}

.sidebar {
    width: 68%;
}

.footer {
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    background-color: var(--childs);
    padding: 10px;
    line-height: 2rem;
}

/* .copyright,.design{
    width: 50%;
    background-color: var(--childs);
    padding: 10px;
    line-height: 100%;


}
.design{
    text-align: end ;
   
} */